<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pt.ulusofona.deisi.a2020.cm.g25">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjectoCM20_21G25">
        <activity android:name=".views.ImageFullscreenActivity"></activity>
        <activity
            android:name=".views.TestDetailActivity"
            android:label="@string/activity_test_detail_name"></activity>
        <activity
            android:name=".views.TestListActivity"
            android:label="@string/activity_list_tests_name"></activity>
        <activity
            android:name=".views.TestFormActivity"
            android:label="@string/activity_insert_test_form_name"></activity>
        <activity
            android:name=".views.ContactsActivity"
            android:label="@string/activity_contacts_name"></activity>
        <activity
            android:name=".views.DashboardActivity"
            android:label="@string/activity_dashboard_name"></activity>
        <activity android:name=".views.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>