<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="pt.ulusofona.deisi.a2020.cm.g25">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjectoCM20_21G25">
        <activity android:name=".views.MainActivity" />
        <activity android:name=".views.imagefullscreen.ImageFullscreenActivity" />
        <activity
            android:name=".views.testdetail.TestDetailActivity"
            android:label="@string/activity_test_detail_name" />
        <activity
            android:name=".views.testform.TestFormActivity"
            android:label="@string/activity_insert_test_form_name" />
        <activity android:name=".views.splashscreen.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>